# KUIS 2 Pembelajaran Mesin

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [102]:
import pandas as pd
import numpy as np

data = pd.read_excel('data/dataset_quiz.xlsx')
data1 = data.copy()

data1.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

Menghapus Kolum Anggota 5, Setelah itu Pembersihan data NaN dan duplikasi data

In [103]:
# Menghapus Kolum Anggota 5
del data1['id_anggota5']

# Membersihkan kolom null
data1 = data1.dropna(how='any',axis=0)
pd.isnull(data1).sum()

id_ketua              0
id_anggota1           0
id_anggota2           0
id_anggota3           0
id_anggota4           0
keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

In [104]:
data1.duplicated().sum()

0

Penentuan Label

In [105]:
X = data1.iloc[:, 5:]
del X['potensi_hki']
y = data1['potensi_hki']
X.head()

,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA,TIDAK ADA

Cek jumlah data apakah balance atau tidak

In [106]:
y.value_counts()

TIDAK    55
YA        7
SUDAH     4
Name: potensi_hki, dtype: int64

Balancing Data

Encode Label

In [107]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
def encoding_label(data):
    for column in data:
        data[column] = encoder.fit_transform(data[column])
    return data

X = encoding_label(X)
y = encoder.fit_transform(y)

Split Train dan Test data

In [108]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

Tunning Hyperparameter Grid Search

In [109]:
# Split data Menggunakan RepeatedKFold
from sklearn.model_selection import RepeatedKFold

# inisiasi repated k-fold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)

In [110]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

# inisiasi model
dt = DecisionTreeClassifier()

# Definisikan hyperparameter yang akan digunakan
# sklearn menerima dalam bentuk dictionary
# nama hyperparamater HARUS SESUAI dengan dokumentasi sklearn
params = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'max_depth': list(range(5,11))
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(dt, param_grid=params, cv=cv)

grid.fit(X, y)
# Evaluasi dengan score
score = grid.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {grid.best_params_}')

Hasil evaluasi: 0.9242424242424242
Konfigurasi hyperparameter: {'criterion': 'entropy', 'max_depth': 5}

Tunning Hyperparameter Random Search

In [111]:
from sklearn.model_selection import RandomizedSearchCV

random = RandomizedSearchCV(dt, param_distributions=params, cv=cv)

random.fit(X,y)
# Evaluasi dengan score
score = grid.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {grid.best_params_}')

Hasil evaluasi: 0.9242424242424242
Konfigurasi hyperparameter: {'criterion': 'entropy', 'max_depth': 5}

## Classification 
Perbandingan menggunakan Random Forest dan SVM

In [112]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
 
# Random Forest
rf = RandomForestClassifier(n_estimators=10, random_state=1)

rf.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)

acc_rf = accuracy_score(y_test, y_pred_rf)
print("Test set accuracy: {:.2f}".format(acc_rf))
print(f"Test set accuracy: {acc_rf}")

# SVM
svc = SVC(kernel="linear")

svc.fit(X_train, y_train)

# Predict train
y_pred_train = svc.predict(X_train)
acc_pred_train = accuracy_score(y_train, y_pred_train)

# Predict test
y_pred_test = svc.predict(X_test)
acc_pred_test = accuracy_score(y_test, y_pred_test)

# Print Hasil
print(f'Akurasi (training): {acc_pred_train}')
print(f'Akurasi (testing): {acc_pred_test}')

Test set accuracy: 0.79
Test set accuracy: 0.7857142857142857
Akurasi (training): 0.9230769230769231
Akurasi (testing): 0.7857142857142857